.nav-bar {
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 3px solid rgb(252, 252, 252);
    color: black; 
    padding: 1.4em;
    margin: 1.4em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
    width: auto;
}

a{
    color: black; 
}
