.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(56, 141, 215);
    border-radius: 10px;
    padding: 2em;
    margin: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
    width: auto;
}

